<head>
  <title>La Raffinerie</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>

<template name="camera-page">
  {{> camera}}
</template>

<template name="layout">
  {{#ionBody}}

  {{#ionSideMenuContainer}}

  {{#ionSideMenus}}

  {{#ionSideMenu}}
  <div class="bar bar-header bar-stable">
    <h1 class="title">La Raffinerie</h1>
    <button class="button button-clear pull-right" data-ion-menu-close>
      <i class="icon ion-ios-arrow-right"></i>
    </button>
  </div>
  <div class="content has-header">
    <div class="list">
      <div class="item item-light">
        <img src="/logoL.jpg" alt="" class="full-image">
      </div>
      {{#if currentUser}}
      <div class="item item-stable {{#if currentUser.profile.pixelhumain.profilThumbImageUrl}}item-avatar{{/if}}">
        {{#if currentUser.profile.pixelhumain.profilThumbImageUrl}}
        {{> imgDoc profilThumbImageUrl=currentUser.profile.pixelhumain.profilThumbImageUrl}}
        {{/if}}
        <h2><a href="{{pathFor 'detailList' _id=currentUser._id scope='citoyens'}}" class="positive" data-ion-menu-close>{{currentUser.profile.pixelhumain.name}}</a></h2>
        <p>{{currentUser.profile.pixelhumain.email}}</p>
      </div>

      <a class="item item-stable item-icon-right" href="{{pathFor 'dashboard'}}" data-ion-menu-close>{{__ "Dashboard"}} {{> ionIcon icon="ios-speedometer"}}</a>

      <a class="item item-stable item-icon-right" href="{{pathFor 'about'}}" data-ion-menu-close>{{__ "About"}}</a>

      <a class="item item-stable item-icon-right" href="{{pathFor 'notifications'}}" data-ion-menu-close>{{__ "Notifications"}} <span class="badge badge-positive">{{#if notificationsCount}}{{notificationsCount}}{{else}}0{{/if}}</span></a>

      <a class="item item-stable item-icon-right" href="{{pathFor 'signOut'}}" data-ion-menu-close>{{__ "logout"}} {{> ionIcon icon="log-out"}}</a>
      
      {{/if}}
    </div>
  </div>
  {{/ionSideMenu}}

  {{#ionSideMenu side="right"}}
  <div class="bar bar-header bar-stable">
    <button class="button button-clear pull-left" data-ion-menu-close>
      <i class="icon ion-ios-arrow-left"></i>
    </button>
    <h1 class="title"><i class="icon ion-android-notifications"></i> {{__ "notifications"}}</h1>
  </div>
  <div class="content has-header">

    {{> notificationsListSwipMenu notifications=notifications allReadChecked=(allReadChecked notificationsCountRead)}}

  </div>
  {{/ionSideMenu}}

  {{/ionSideMenus}}

  {{#ionSideMenuContent}}

  {{> ionNavBar class="bar-stable"}}

  {{#ionNavView}}
  {{> yield}}
  {{/ionNavView}}

  {{/ionSideMenuContent}}

  {{/ionSideMenuContainer}}

  {{> meteorStatus lang=langChoix overlay=true}}

  {{/ionBody}}
</template>

<template name="forceUpdateAvailable">
  {{#if forceUpdateBuild}}
  <div class="item item-assertive item-text-wrap item-divider">
    Votre version {{AppVersion}} est dépassé, vous devez mettre à jour votre application depuis le store avec la
    version <a href="{{urlApp}}" class="positive-url">{{Cordovaversion.buildVersion}}</a>
  </div>
  {{/if}}
</template>

<template name="updateAvailable">
  {{#if isAndroid}}
  {{#if updateAvailable}}
  <div class="item item-divider">
    <a class="button button-assertive button-block" reloader-update>Appuyez ici pour mettre à jour</a>
  </div>
  {{/if}}
  {{/if}}
</template>