<template name="dashboard">

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "dashboard"}}</h1>
  {{/contentFor}}
  {{#contentFor "headerButtonLeft"}}
  <button class="button button-clear pull-left" data-ion-menu-toggle="left">
  {{#if isAndroid}}
    {{> ionIcon icon='android-more-vertical'}}
  {{else}}
    {{> ionIcon icon='navicon'}}
  {{/if}}
  </button>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  <button class="button button-clear icon ion-android-notifications brand-base-text-color pull-right all-seen" data-ion-menu-toggle="right">
   {{#transition in="bounceInDown" out="bounceOutUp"}}
   {{#if notificationsCount}}
   <div class="new-notification-bubble animated out">{{notificationsCount}}</div>
   {{/if}}
   {{/transition}}
  </button>

  {{/contentFor}}


  {{#ionView}}
  {{#ionContent class="scroll-bg"}}
  <div class="row">
    <div class="col">

    </div>
  </div>

  {{/ionContent}}
  {{/ionView}}

</template>


<template name="_addMenuPopover">
  {{#ionPopover}}
    <div class="content">
      <div class="list">
        <div class="item item-divider homestead">
          <i class="icon fa fa-plus-circle"></i> {{__ "Add"}}
        </div>
        <a href="{{pathFor 'organizationsAdd' _id=scopeId scope=scope}}" class="item organization popover-backdrop"><i class="icon fa fa-users"></i> {{__ "a organization"}}</a>
        <a href="{{pathFor 'projectsAdd' _id=scopeId scope=scope}}" class="item project popover-backdrop"><i class="icon fa fa-lightbulb-o"></i> {{__ "a project"}}</a>
        <a href="{{pathFor 'eventsAdd' _id=scopeId scope=scope}}" class="item event popover-backdrop"><i class="icon fa fa-calendar"></i> {{__ "a event"}}</a>
        <a href="{{pathFor 'poiAdd' _id=scopeId scope=scope}}" class="item poi popover-backdrop"><i class="icon fa fa-map-marker"></i> {{__ "a point of interest"}}</a>
        <a href="{{pathFor 'classifiedAdd' _id=scopeId scope=scope}}" class="item classified popover-backdrop"><i class="icon fa fa-bullhorn"></i> {{__ "a classified"}}</a>
      </div>
    </div>
  {{/ionPopover}}
</template>
